[defaults]

# (pathspec) Colon separated paths in which Ansible will search for Roles.
# Adding ./roles to the path so playbooks in the /playbooks directory can find the roles
# roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
#collections_path = ./collections
inventory = ./inventory
# interpreter_python = /usr/bin/python3.8


